<div class="container">
    <div class="row justify-content-center">
       <div class="col-6 align-self-center">
        <div class="card">
            <h4 class="card-header">Login</h4>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control"
                        [(ngModel)] = "defaultValue.name"
                         [ngClass]="{ 'is-invalid': submitted && f['username']['errors'] }" />
                        <div *ngIf="submitted && f['username']['errors']" class="invalid-feedback">
                            <div *ngIf="f['username']['errors']['required']">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"[(ngModel)] = "defaultValue.name" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password']['errors'] }" />
                        <div *ngIf="submitted && f['password']['errors']" class="invalid-feedback">
                            <div *ngIf="f['password']['errors']['required']">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
       </div>
    </div>
</div>