<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav pointer">
        <li class="nav-item" [ngClass]="{'active':listFlag}">
          <a class="nav-link" (click)="chooseList(true)">List Employee Details</a>
        </li>
        <li class="nav-item " [ngClass]="{'active':deptFlag && !listFlag}">
          <a class="nav-link" (click)="chooseDept(true)">Map Department</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':!deptFlag && !listFlag}">
          <a class="nav-link" (click)="chooseDept(false)">Map Project</a>
        </li>
      </ul>
    </div>
  </nav>

 <ng-container *ngIf="listFlag" class="container">
  <ng-container class="row ">
    <table class="table col-6 offset-3 mt-4 table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Employee Id</th>
          <th scope="col">Departments</th>
          <th scope="col">Projects</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empDetails">
          <td>{{emp['emp_id']}}</td>
          <td><div *ngFor="let dept of emp['deptData']">{{dept.name}}</div></td>
          <td><div *ngFor="let pjct of emp['pjctData']">{{pjct.name}}</div></td>
        </tr>
        
      </tbody>
    </table>
  </ng-container>
 </ng-container>
  <app-dept *ngIf="deptFlag && !listFlag"></app-dept>
  <app-pjct *ngIf="!deptFlag && !listFlag"></app-pjct>