
<ng-container class="container">
<ng-container class="row">
    <div class="col-6 offset-3 mt-4">
Choose Employee : <ng-select
 [items]="empData"
 bindLabel="name"
 placeholder="Select item"
 appendTo="body"
 [multiple]="false"
 [(ngModel)]="selectedEmp">
</ng-select>  
Choose Project : <ng-select
 [items]="pjctData"
 bindLabel="name"
 placeholder="Select item"
 appendTo="body"
 [multiple]="true"
 [(ngModel)]="selectedPjct">
</ng-select> 

<button class="btn btn-primary mt-2" (click)="mapData()">Map Employee and Project</button>
</div>
</ng-container>

</ng-container>
